<div class="disp">
	<div class="mask">
		<div class="container-fluid">

			<div class="col-sm-4">
			</div>
			<div class="buttons_parent col-sm-4">
				<div class="buttons">
					<% if user_signed_in? %>
						<%= link_to 'レシピ投稿', registration_recipe_path,  class: "btn btn-primary btn-block" %>
						<%= link_to 'ログアウト', destroy_user_session_path, :method => :delete,  class: "btn btn-primary btn-block" %>
					<% else %>
						<%= link_to 'ログイン', new_user_session_path,  class: "btn btn-primary btn-block" %>
						<%= link_to 'ユーザー登録', new_user_registration_path,  class: "btn btn-primary btn-block" %>
					<% end %>
				</div>
			</div>
			<div class="col-sm-4">
			</div>
		</div>
	</div>
</div>
<div class="recipes">
	<div class="container">
		<div class="row">
			<% if @recipes.present? %>
			<% @recipes.each do |recipe| %>
				<div class="recipe_block col-sm-4 col-xs-12">
					<%= attachment_image_tag recipe, :cooking_image, :fill, 250, 250, fallback: "noImage.png", size: "250x250" %><br>
					<%= link_to recipe.recipe_name, show_recipe_path(recipe.id) %>
				</div>
			<% end %>
		</div>
		<%= paginate @recipes, class: "pagenate" %>
		<% end %>
	</div>
</div>