<div class="container">
	<%= form_for(current_user, url: update_user_path) do |f| %>
		<div class="col-xs-5">
			<h2>アイコン</h2>
          <%= f.attachment_field :icon %>

		</div>

		<div class="col-xs-7">
			<h2>ユーザ名</h2>
			<%= f.text_field :user_name, style:"width:100%" %>
			<h2>自己紹介文</h2>
			<%= f.text_area :profile, style:"width:100%" %>
		</div>

		<div class="col-xs-12 submit">
			<%= f.submit '確定' %>
		</div>
	<% end %>
</div>